.filter{
    position: relative;
    min-height: 60px;
    input[type='range'] {
        height: 30px;
        width: 100%;
        overflow: hidden;
        cursor: pointer;
        outline: none;
        padding: inherit;
        -webkit-appearance: none;
        background: none;
        &:nth-child(1)::-webkit-slider-thumb{
            z-index: 2;
        }
        &:nth-child(2)::-webkit-slider-runnable-track{
            background: none;
        }
        &::-webkit-slider-thumb {
            position: relative;
            height: 15px;
            width: 15px;
            margin-top: -7px;
            background: #fff;
            border: 1px solid #003D7C;
            border-radius: 25px;
            z-index: 1;
        }
        &::-webkit-slider-runnable-track {
            width: 200px;
            height: 1px;
            background: #003D7C;
        }
    }
    .range-price{
        position: relative;
        width: 100%;
        display: inline-block;
        margin-top: -5px;
        padding: 0px 11px;
        input{
            position: absolute;
            left: 0;
            top: 0%;
        }
        .range-max,.range-min{
            display: inline-block;
            position: relative;
            margin-top: 25px;
            font-size: 10pt;
        }
    }
}

